<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xlhj.baojia.mapper.SysMenuMapper">

    <select id="selectPermsByUserId" parameterType="long" resultType="java.lang.String">
        select distinct sm.perms from sys_menu sm
        left join sys_role_menu srm on sm.id = srm.menu_id
        left join sys_user_role sur on srm.role_id = sur.role_id
        left join sys_role sr on sr.id = sur.role_id
        where sm.visible = 10 and sr.status = 10 and sur.user_id = #{userId}
    </select>
</mapper>